.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Use full viewport height */
    color: #333;
    background-color: #f0f0f0; /* Light grey background for contrast */
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 3rem; /* Large, readable text */
    margin-bottom: 0.5rem;
  }
  
  .description {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    max-width: 600px; /* Maximum width for readability */
    text-align: center;
  }
  
  .navigation {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  